[submodule "vim/.vim/bundle/Color-Scheme-Explorer"]
	path = vim/.vim/bundle/Color-Scheme-Explorer
	url = git@github.com:vim-scripts/Color-Scheme-Explorer.git
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim/.vim/bundle/vim-pug"]
	path = vim/.vim/bundle/vim-pug
	url = git://github.com/digitaltoad/vim-pug.git
[submodule "vim/.vim/bundle/ag.vim"]
	path = vim/.vim/bundle/ag.vim
	url = git@github.com:rking/ag.vim.git
[submodule "vim/.vim/bundle/vim-gitgutter"]
	path = vim/.vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/.vim/bundle/vim-eunuch"]
	path = vim/.vim/bundle/vim-eunuch
	url = git@github.com:tpope/vim-eunuch.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/.vim/bundle/vim-coffee-script"]
	path = vim/.vim/bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "vim/.vim/bundle/vim-colorschemes"]
	path = vim/.vim/bundle/vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "vim/.vim/bundle/vim-fireplace"]
	path = vim/.vim/bundle/vim-fireplace
	url = git@github.com:tpope/vim-fireplace.git
[submodule "vim/.vim/bundle/vim-airline-themes"]
	path = vim/.vim/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "vim/.vim/bundle/tabular"]
	path = vim/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/.vim/bundle/vim-raml"]
	path = vim/.vim/bundle/vim-raml
	url = git@github.com:IN3D/vim-raml.git
[submodule "vim/.vim/bundle/elm.vim"]
	path = vim/.vim/bundle/elm.vim
	url = git@github.com:lambdatoast/elm.vim.git
[submodule "vim/.vim/bundle/vim-scala"]
	path = vim/.vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "vim/.vim/bundle/rust.vim"]
	path = vim/.vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim/.vim/bundle/base16-vim"]
	path = vim/.vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/.vim/bundle/vim-javascript"]
	path = vim/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/.vim/bundle/vim-jsx"]
	path = vim/.vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "vim/.vim/bundle/vim-wwdc17-theme"]
	path = vim/.vim/bundle/vim-wwdc17-theme
	url = https://github.com/lifepillar/vim-wwdc17-theme
[submodule "vim/.vim/bundle/gruvbox"]
	path = vim/.vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vim/.vim/bundle/sol"]
	path = vim/.vim/bundle/sol
	url = https://github.com/notpratheek/vim-sol
[submodule "vim/.vim/bundle/vim-sol"]
	path = vim/.vim/bundle/vim-sol
	url = https://github.com/notpratheek/vim-sol
